/*COLORS*/
.pri {
  color: #11083E;
}

.sec {
  color: #FBF3FF;
}

.ter {
  color: #e84c3b;
}

.bg-pri {
  background-color: #11083E;
}

.bg-sec {
  background-color: #FBF3FF !important;
}

.bg-ter {
  background-color: #e84c3b !important;
}

/*MEDIA QUERIES*/
.btn.cta {
  font-size: 1.2rem;
}
.btn.btn-primary {
  background: transparent;
  border: 2px solid white;
  width: fit-content;
  border-radius: 0.3rem;
  /*margin: 0 0.5rem;*/
  padding: 0.5rem 2rem;
}
.btn.btn-primary:hover {
  background: #fbf2ff;
  border: 2px solid white;
}
.btn.btn-primary:hover a {
  color: #12083f;
}
.btn.btn-primary a {
  color: #fbf2ff;
  white-space: normal;
}
.btn.btn-secondary {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #fbf2ff !important;
  background-color: #d84a41 !important;
  border-radius: 0.3rem;
  /*margin: 0 0.5rem;*/
  border: none;
}
.btn.btn-secondary a {
  color: #fbf2ff;
  white-space: normal;
}
.btn.btn-secondary a p {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  margin-bottom: 0rem;
}
.btn.btn-secondary a p.fancy:hover {
  color: white !important;
}
.btn.btn-secondary a p:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff5990), color-stop(0.35, #F39C12), color-stop(0.45, #F1C40F), color-stop(0.7, #76D7C4), color-stop(0.85, #85C4FF), color-stop(1, #AE85FF)) !important;
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22)) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
}
.btn.btn-secondary a :hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.btn.center {
  width: fit-content;
  width: -moz-min-content;
  margin: 0 auto;
  display: block;
}

.pills ul {
  padding: 0;
}
.pills ul li {
  padding: 0.1rem 1rem 0.3rem;
  border-radius: 100px;
  color: white;
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
}
.pills ul li:nth-child(3) {
  background: #d164de;
}
.pills ul li:nth-child(2) {
  background: #ff6499;
}
.pills ul li:nth-child(4) {
  background: #85C4FF;
}
.pills ul li:nth-child(1) {
  background: #76D6C4;
}
.pills ul li:nth-child(5) {
  background: #f39c12;
}
.pills ul li:nth-child(6) {
  background: #AD85FF;
}
.pills ul li:nth-child(7) {
  background: #a6d86b;
}
.pills ul li:nth-child(8) {
  background: #F1C40F;
}

button:hover {
  transform: scale(1.2);
}
button:focus {
  outline: none !important;
}

.cta-container {
  margin-top: 7rem;
}

#mail button,
#mail2 button {
  float: right;
  cursor: pointer;
}

#mail button,
#more button {
  border: none;
  margin: 40px 20px 0 0;
  text-align: center;
  display: inline-block;
}

#more button {
  font-family: carlmarx;
  background-color: #D2C5D8;
  padding: 10px 28px;
  border-radius: 4px;
  font-size: 20px;
}

body {
  background-color: #11083E !important;
  font-weight: 300 !important;
  font-family: vag-rundschrift-d, sans-serif !important;
  position: relative;
  /*padding-bottom: 6rem;*/
  min-height: 100vh;
  z-index: -50;
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

.main {
  margin-top: 5rem;
  min-height: 90vh;
}

nav {
  font-family: "carlmarx", calibri;
  font-size: 1.5rem !important;
}
nav.navbar {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #11083ee8;
  backdrop-filter: blur(5px);
}
nav.navbar.navbar-dark #navbarNav {
  background-color: #211650;
  border-radius: 10px;
  margin: 0.5rem;
  margin-bottom: 0;
}
@media (max-width: 37em) {
  nav.navbar.navbar-dark #navbarNav {
    margin-top: 0;
  }
}
nav.navbar .navbar-nav,
nav.navbar .nav-item {
  margin-right: 0;
  margin-left: auto;
}
@media (max-width: 37em) {
  nav.navbar .navbar-nav,
nav.navbar .nav-item {
    margin-right: auto;
    margin-left: 0;
  }
}
nav.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
}
nav.navbar a.nav-link {
  color: #FBF3FF;
  padding: 0.75rem 1.5rem !important;
}
nav.navbar a.navbar-brand {
  color: #FBF3FF;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
nav.navbar .active,
nav.navbar .topnav a:hover {
  background-color: #12083d;
}

.home-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*.fadeInLeft{
    opacity: 1!important;
    transform: translateX(0)!important;
    @include laptop {
        opacity: 0;
        transform: translateX(-400px)
    }

}*/
.boxes,
.para {
  text-align: center;
}

.casestudies-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 20vw 6rem;
}
@media (max-width: 37em) {
  .casestudies-boxes {
    padding: 0;
  }
}
.casestudies-boxes .boxes {
  background-color: red;
  height: 17vw;
  width: 17vw;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
  border: none;
  margin: 1vw;
  color: #fff;
  font-weight: 700;
  padding-bottom: 1em;
  padding-top: 0.3em;
  transition: transform 0.2s;
}
@media (max-width: 37em) {
  .casestudies-boxes .boxes {
    height: 25vw;
    width: 25vw;
    min-width: 25vw;
    min-height: 25vw;
  }
}
.casestudies-boxes .boxes img {
  height: 8vw;
  padding-bottom: 1rem;
}
@media (max-width: 37em) {
  .casestudies-boxes .boxes img {
    height: 22vw;
    padding: 1rem;
  }
}
.casestudies-boxes .boxes p {
  font-family: carlmarx;
  font-size: 26px;
  margin: 0;
  line-height: 20px;
}
@media (max-width: 37em) {
  .casestudies-boxes .boxes p {
    display: none;
  }
}
.casestudies-boxes .boxes:hover, .casestudies-boxes .boxes:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
}

/*.boxes button.boxes:hover {
    cursor: zoom-in;
}

.third-para H4 {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
    letter-spacing: 2px
}

.third-para {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #fff;
    width: 66%;
    padding: 20px 0 20px 90px
}

.case-study-thirds-image,
.row {
    display: flex;
    margin: 30px
}

.case-study-thirds-image {
    align-items: stretch
}

.case-study-thirds-image>div {
    padding: 10px;
    width: 100px;
    text-align: left
}*/
body.modal-open {
  overflow: visible;
  position: absolute !important;
  height: 100%;
}

.modal-dialog.modal-dialog-centered {
  width: 80vw;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 37em) {
  .modal-dialog.modal-dialog-centered {
    width: 95vw;
    max-width: 95vw;
  }
}
.modal-dialog.modal-dialog-centered .close span {
  color: white;
}
.modal-dialog.modal-dialog-centered .modal-banner-image {
  border-radius: 5px;
}
.modal-dialog.modal-dialog-centered .modal-header {
  border: none !important;
}
.modal-dialog.modal-dialog-centered .modal-content {
  padding: 2rem;
  background-color: #11083E !important;
  color: white;
}
@media (max-width: 37em) {
  .modal-dialog.modal-dialog-centered .modal-content {
    padding: 0.5rem;
  }
}
.modal-dialog.modal-dialog-centered .modal-footer {
  border: none !important;
}
.modal-dialog.modal-dialog-centered .modal-footer button {
  background-color: #E74C3C;
  border: none;
  color: #FBF3FF;
}
.modal-dialog.modal-dialog-centered .modal-footer button:hover {
  background-color: #E74C3C;
  border: none;
  color: #FBF3FF;
}

.case-study-thirds {
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
  display: flex;
  align-items: stretch;
  padding: 2rem 0;
}
@media (max-width: 37em) {
  .case-study-thirds {
    padding-bottom: 0;
  }
}
.case-study-thirds p {
  font-size: 16px;
}
.case-study-thirds b {
  letter-spacing: 1px;
}
.case-study-thirds h4 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
  letter-spacing: 2px;
}
.case-study-thirds .col-md-4 {
  background: #261b54;
  border-radius: 5px;
  padding: 1rem 1rem;
}
.case-study-thirds .col-md-4.col-11 {
  margin: 0 auto;
}
.case-study-thirds .col-12.col-md-8 {
  padding: 0.5rem 1rem;
}
@media (max-width: 37em) {
  .case-study-thirds .col-12.col-md-8 {
    padding: 1rem;
  }
}

* {
  -webkit-overflow-scrolling: touch !important;
}

.modal-open .modal {
  -webkit-overflow-scrolling: touch !important;
}

body.modal-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-body {
  max-height: none;
}

footer {
  background-color: #211650;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem;
}
footer img {
  width: 2.5rem;
  filter: grayscale(1);
}
@media (max-width: 37em) {
  footer img {
    filter: grayscale(0);
    padding-bottom: 0.75rem;
  }
}
footer img:hover {
  filter: grayscale(0);
}
footer ul {
  margin-bottom: 0rem;
  padding: 0;
  opacity: 0.8;
}
@media (max-width: 37em) {
  footer ul {
    width: 50vw;
    margin: 0 auto;
  }
}

.contact p {
  font-family: vag-rundschrift-d, calibri !important;
}

.topnav {
  font-family: carlmarx, calibri;
}

h1 {
  text-align: center;
  font-size: 5rem !important;
  font-family: carlmarx !important;
  padding: 0 60px;
  color: #FBF3FF !important;
  font-weight: 700 !important;
}
@media (max-width: 37em) {
  h1 {
    font-size: 5rem !important;
  }
}

a:hover {
  text-decoration: none !important;
}

.topnav {
  background-color: #080227;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.active,
.topnav a:hover {
  background-color: #11083E;
}

.topnav a {
  float: left;
  display: block;
  color: #FBF3FF;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 24px;
}

.menuright {
  float: right;
}

.topnav a:hover {
  color: #e84c3b;
}

.active {
  color: #FFF;
}

.topnav .icon {
  display: none;
}

.rainbow {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E74C3C), color-stop(0.35, #F39C12), color-stop(0.45, #F1C40F), color-stop(0.7, #76D7C4), color-stop(0.85, #85C4FF), color-stop(1, #AE85FF));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 900px) {
  .menuright a,
.topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.para,
h3 {
  padding: 0;
  color: #FBF3FF;
}

h2 {
  margin-bottom: 0;
  font-family: carlmarx;
  font-weight: 700;
}

h3,
p {
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

.para {
  font-size: 1.5rem;
}

video {
  width: 100% !important;
  height: auto !important;
}

#full-width {
  width: 100%;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  margin: 40px 0;
  height: 0;
}

#mail p,
#more p {
  padding: 7px 0;
  font-weight: 700;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

#more p {
  font-family: carlmarx, calibri;
  font-size: 20px;
  color: #fff;
  margin: 0;
}

#mail p:hover,
#mail2 a:hover,
#more p:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E74C3C), color-stop(0.35, #F39C12), color-stop(0.45, #F1C40F), color-stop(0.7, #76D7C4), color-stop(0.85, #85C4FF), color-stop(1, #AE85FF));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#mail button {
  font-family: carlmarx;
  background-color: #E4493C;
  padding: 0 28px;
  border-radius: 4px;
  font-size: 22px;
}

#mail p {
  font-family: carlmarx, calibri;
  font-size: 22px;
  color: #D2C4D7;
  margin: 0;
}

#mail2 button {
  font-family: carlmarx;
  background-color: #D2C5D8;
  border: none;
  padding: 12px 22px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
}

#mail2 a {
  font-weight: 700;
  text-decoration: underline;
}

.timeline {
  position: relative;
  width: 85vw;
  margin: 0 auto;
}
.timeline a {
  color: #d84a41;
  font-weight: 400;
  text-decoration: underline;
}

.timeline-box::after,
.timeline::after {
  content: "";
  position: absolute;
}

.timeline::after {
  width: 2px;
  border-radius: 10px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: 0;
}

.timeline-box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-box::after {
  width: 18px;
  height: 18px;
  right: -10px;
  background-color: #fff;
  border: 4px solid #11083E;
  top: 23px;
  border-radius: 50%;
  z-index: 1;
}

.left::before,
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  right: 30px;
  border: solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FBF3FF;
}

.right::before {
  left: 30px;
  border: solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.content,
.content-education {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

.right::after {
  left: -8px;
}

.content {
  background-color: #FBF3FF;
}

.content a:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E74C3C), color-stop(0.35, #F39C12), color-stop(0.45, #F1C40F), color-stop(0.7, #76D7C4), color-stop(0.85, #85C4FF), color-stop(1, #AE85FF));
  background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.content-education {
  background-color: #E2E7FF;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-box::before {
    left: 60px;
    border: solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  .left::after,
.right::after {
    left: 23px;
  }

  .right {
    left: 0;
  }
}
.bgimg {
  background-attachment: fixed;
}

.iconcolumn img {
  float: right;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.iconrow::after {
  content: "";
  clear: both;
  display: table;
  display: inline-block;
}

.bigcolumn {
  float: left;
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 10px;
}

.contacticons {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.paraleft {
  padding: 0;
  text-align: right;
  color: #FBF3FF;
}

.contact {
  text-align: center;
  width: 60vw;
  margin: 6rem auto 0;
}

.contact img {
  height: 55px;
  width: 55px;
  padding: 0;
  margin: 10px;
}

.contact p,
.contactpara {
  padding: 10px;
  margin: 0;
  display: inline-block;
}

.contact img:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact p {
  font-weight: 300;
  line-height: 40px;
  font-size: 1.5rem;
  color: #FBF3FF;
}

.contactpara {
  font-size: 18px;
  color: #FBF3FF;
}

.footer {
  position: absolute;
  right: 0;
  padding: 2em 0 0;
  margin-top: 3em;
  bottom: auto;
  left: 0;
  background-color: #080227;
}

.footer a,
.footer p {
  color: #D2C5D8;
  padding-bottom: 0;
}

.footer p {
  font-size: 12px;
  letter-spacing: 0.7px;
  line-height: 10px;
  margin: 0;
  padding-left: 2em;
}

.footer a {
  display: inline-block;
  font-size: 10px;
  margin-bottom: 0;
}

.footer img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.grid-container,
.grid-item {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
}

ul li {
  display: inline-block;
}

.close-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-background {
  display: block;
}

/*# sourceMappingURL=main.css.map */
