.btn {
    &.cta {
        font-size: 1.5rem;
    }

    &.btn-primary {
        background: transparent;
        border: 2px solid white;
        width: fit-content;
        border-radius: 0.3rem;
        /*margin: 0 0.5rem;*/
        padding: 0.5rem 2rem;

        &:hover {

            background: #fbf2ff;
            border: 2px solid white;
            a {
                color: #12083f;
            }
        }

        a {
            color: #fbf2ff;
            white-space: normal;
        }
    }

    &.btn-secondary {
        display: inline-block;
        padding: 0.5rem 2rem;
        color: #fbf2ff !important;
        background-color: #d84a41 !important;
        border-radius: 0.3rem;
        /*margin: 0 0.5rem;*/
        border: none;

        a {
            color: #fbf2ff;
            white-space: normal;
        }

        :hover {
            transform: scale(1.2);
            transition: all .2s ease-in-out;
        }

        p {
            font-size: 26px;
            font-weight: 400 !important;
            margin-bottom: 0rem;

            &:hover {
                background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E74C3C), color-stop(.35, #F39C12), color-stop(.45, #F1C40F), color-stop(.7, #76D7C4), color-stop(.85, #85C4FF), color-stop(1, #AE85FF)) !important;
                background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(.15, #f2f), color-stop(.3, #22f), color-stop(.45, #2ff), color-stop(.6, #2f2), color-stop(.75, #2f2), color-stop(.9, #ff2), color-stop(1, #f22)) !important;
                color: transparent !important;
                -webkit-background-clip: text !important;
            }
        }
    }

    &.center {
        width: fit-content;
        width: -moz-min-content;
        margin: 0 auto;
        display: block;
    }
}

.pills ul {
    padding: 0;

    li {
        padding: 0.1rem 1rem 0.3rem;
        border-radius: 100px;
        color: white;
        font-size: 1.25rem;
        margin: 1rem 0.5rem;

        &:nth-child(3) {
            background: #d164de;
            ;
        }

        &:nth-child(2) {
            background: #ff6499;
        }

        &:nth-child(4) {
            background: #85C4FF;
        }

        &:nth-child(1) {
            background: #76D6C4;
        }

        &:nth-child(5) {
            background: #f39c12;
        }

        &:nth-child(6) {
            background: #AD85FF;
        }

        &:nth-child(7) {
            background: #a6d86b;
        }

        &:nth-child(8) {
            background: #F1C40F;
        }
    }
}




button {
    &:hover {
        transform: scale(1.2)
    }

    &:focus {
        outline: none !important;
    }
}

.cta-container {
    margin-top: 7rem;
}

#mail button,
#mail2 button {
    float: right;
    cursor: pointer
}

#mail button,
#more button {
    border: none;
    margin: 40px 20px 0 0;
    text-align: center;
    display: inline-block
}


#more button {
    font-family: carlmarx;
    background-color: #D2C5D8;
    padding: 10px 28px;
    border-radius: 4px;
    font-size: 20px
}