body {
    background-color: $pri !important;
    font-weight: 300 !important;
    font-family: vag-rundschrift-d, sans-serif !important;
    ;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    z-index: -50;
    padding-top: 4rem;
}